{% extends "about.html" %}
{% block entry %}
    <h3 class="about">Ending notes</h3>
    <p class="about">It is illegal to use Jawfish for malicious purposes. The pen-testing code executes client-side,
        on your device. Those involved with development hold no responsibility for your actions.</p>
    <p class="about">Jawfish currently contains no capabilities for dumping databases or post-exploitation. You
        can take the exploit produced by Jawfish and feed it into a tool like sqlmap.</p>
    <p class="about">The program is open-source.</p>
    <p class="about" style="margin-bottom: 2em;">Jawfish.io is maintained by Randy Gingeleski.</p>
    <a href="/about-3" class="bottom_links">Previous page</a>
{% endblock %}
