{% extends "about.html" %}
{% block entry %}
    <h3 class="about">Parts of the targeting form</h3>
    <p class="about" style="margin-bottom: 2em;"><span>Goal Text</span> - The most important option to get correct, as it will define when an exploit
        string is deemed as working. Case is ignored. Examples: If you are attempting to bypass a login
        form, perhaps “Login Successful.” For command injection, an indicative server response like
        “Directory of.” For SQL injection, maybe “row in set.”</p>
    <a href="/about-2" class="bottom_links">Previous page</a>
    <a href="/about-4" class="bottom_links">Next page</a>
{% endblock %}
