{% extends "about.html" %}
{% block entry %}
    <h3 class="about">What is Jawfish?</h3>
    <p class="about">Jawfish is a tool designed to break into web applications. This is called penetration testing in
        cybersecurity.</p>
    <p class="about">Based on Soen Vanned's Forced Evolution, it is self-modifying - finding exploits and updating its
        internal database accordingly.</p>
    <p class="about" style="margin-bottom: 2em;">Using Jawfish is as simple as giving it a target and condition of success. Parts to
        the targeting form are better explained on the next page.</p>
    <a href="/about-2" class="bottom_links">Next page</a>
{% endblock %}
