<!doctype html>
<html class="no-js" lang="">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Jawfish</title>
    {% endif %}

    <meta name="description" content="Jawfish is a tool designed to break
        into web applications.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="static/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<body>
    <div class="container">
    <section class="splash">

        <div class="island">
            <img id="logo" src="static/img/jawfish.png" />

            {% block content %}{% endblock %}
        </div>

    </section>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="static/script/home_main.js"></script>
</body>
</html>
