{% extends "index.html" %}
{% block targetform %}
<form name=“targeting” id="targeting" method=“post” action="result">

    <span class="tooltip on" tooltip-message="Target IP / hostname">
        <label class="white">Target IP</label>
        {{ targetform.TARGET }} <br><br>
        {% for error in targetform.TARGET.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </span>

    <span class="tooltip on" tooltip-message="Directory / address">
        <label class="white">Address</label>
        {{ targetform.ADDR }} <br><br>
        {% for error in targetform.ADDR.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </span>

    <span class="tooltip on" tooltip-message="Vulnerable variable">
        <label class="white">Vulnerability</label>
        {{ targetform.VULN_VAR }} <br><br>
        {% for error in targetform.VULN_VAR.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </span>

    <label class="white">Method</label> <br>
    {{ targetform.METHOD }} <br><br>

    <span class="tooltip on" tooltip-message=
            "Server response indicating successful exploitation">
        <label class="white">Goal Text</label>
        {{ targetform.GOAL_TEXT }} <br><br>
        {% for error in targetform.GOAL_TEXT.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </span>

    <a onclick="document.forms['targeting'].submit()">Submit</a>
</form>
{% endblock %}
