html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
section,
.container {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.island {
    max-width: 40em;
    margin: auto;
    position: relative;
    padding: 10% 0;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.splash {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://unsplash.imgix.net/uploads/14135967189272ee843f8/f9c22c58?fit=crop&fm=jpg&h=675&q=75&w=1050");
    text-align: center;
    color: #fff;
}

.splash:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.35);
}

a, .white {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

a {
    padding: 20px 0 30px 0;
    position: relative;
}

a:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    -webkit-transition: width 0.5s ease, background-color 0.5s ease;
        transition: width 0.5s ease, background-color 0.5s ease;
}

a:hover:after {
    width: 100%;
    background: #ff4e1f;
}

#logo {
    height: 3.5em;
    width: auto;
    margin-bottom: 2.8em;
}

.form_container {
    width: 14em;
    clear: both;
}

.form_container input {
    width: 100%;
    clear: both;
}

.tooltip.on {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.tooltip.on:before,
.tooltip.on:after {
    display: none;
    position: absolute;
    top: 0;
}

.tooltip.on:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    left: 20px;
    margin-top: 1em;
}

.tooltip.on:after {
    background-color: #4d4d4d;
    color: #ffffff;
    content: attr(tooltip-message);
    left: 0;
    margin-top: 1.8em;
    padding: 0.5em 1em;
    white-space: pre-wrap;
    width: 16em;
    z-index: 1;
}

.tooltip.on:hover:after,
.tooltip.on:hover:before {
    display: block;
}

.bottom_links {
    color: #ff4e1f;
    padding: 0 0 0 0;
    font-size: 0.5em;
}

.bottom_links:hover {
    color: #ffffff;
    font-weight: bold;
}

.bottom_links:hover:after {
    width: 0%;
    background: #ff4e1f;
    visibility: none;
}

#result_box {
    height: 13em;
    width: 22em;
    border: 1px solid #fff;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 1.5em;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #ff4e1f;
    text-transform: uppercase;
}

#result_box p {
    width: 22em;
    word-wrap: break-word;
}

.about {
    font-family: 'Lato', sans-serif;
    width: 22em;
    word-wrap: normal;
}

h3.about {
    margin-top: -1em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

p.about {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p.about span {
    text-transform: uppercase;
    color: #ff4e1f;
}
