{% extends "index.html" %}
{% block targetform %}
<form action=“” method=“post” name=“targeting”>

    <span class="tooltip on" tooltip-message="Target IP / hostname">
        <label class="white">Target IP</label>
        {{ targetform.TARGET }} <br><br>
    </span>

    <span class="tooltip on" tooltip-message="Directory / address">
        <label class="white">Address</label>
        {{ targetform.ADDR }} <br><br>
    </span>

    <span class="tooltip on" tooltip-message="Vulnerable variable">
        <label class="white">Vulnerability</label>
        {{ targetform.VULN_VAR }} <br><br>
    </span>

    <label class="white">Method</label> <br>
    {{ targetform.METHOD }} <br><br>

    <span class="tooltip on" tooltip-message=
            "Server response indicating successful exploitation">
        <label class="white">Goal Text</label>
        {{ targetform.GOAL_TEXT }} <br><br>
    </span>

    <a href="#">Submit</a>
</form>
{% endblock %}
